html, body {
    font-family: 'Lato';
    margin: 0;
}

.wrapper {
    margin: 60px auto 0;
    width: 800px;
}

.logo {
    margin: 0 auto;
    display: block;
    width: 300px;
}

.hint {
    margin: 10px auto;
    color: #bbb;
    width: 400px;
}

.form-wrapper {
    border: 1px solid #ddd;
    border-radius: 3px;
}

.description-form {
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 20px;
    padding: 10px;
    border: none;
    width: 100%;
}

.add {
    box-shadow: 0 0 0 1px #e0a;
    transform: translateY(-43px);
    border-radius: 0 2px 2px 0;
    background-color: #f0b;
    box-sizing: border-box;
    vertical-align: top;
    user-select: none;
    cursor: pointer;
    font-size: 32px;
    padding: 0 33px;
    color: #fff;
    float: right;
    height: 43px;
    width: 86px;
}

.task-list {
    padding: 50px 0;
}

.task {
    border: 1px solid #ddd;
    border-width: 1px 1px 0;
    user-select: none;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
}

.task:last-child:not(:empty) {
    border-bottom: 1px solid #ddd;
}

.task-wrapper:not(:empty)::after {
    content: "Click items to remove them";
    display: block;
    color: #bbb;
    float: right;
    margin: 10px;
}