{
    "env": {
        "browser": true,
        "es6": true
    },
    "ecmaVersion": 8,
    "extends": "google",
    "rules": {
        "indent": [
            "error",
            4
        ],
        "linebreak-style": 0,
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "max-len": "off",
        "no-throw-literal": "off",
        "strict": [
            "error",
            "global"
        ]
    }
}