{
    "env": {
        "browser": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 8
    },
    "extends": "google",
    "rules": {
        "indent": [2, 4],
        "linebreak-style": 0,
        "quotes": [2, "single"],
        "semi": [2, "always"],
        "max-len": 0,
        "strict": [2, "global"]
    }
}